/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  text-align: center;
  background: #010038;
}
.cont {
  box-sizing: border-box;
  padding-left: 15%;
  width: 100%;
  color: white;
}
@media (max-device-width: 500px) {
  .cont {
    width: 500px;
    height: auto;
  }
}
.cont header {
  width: 75%;
  margin: 2%;
  height: auto;
  background: #293a80;
  Border: 2px solid #537ec5;
}
.cont header img {
  box-sizing: border-box;
  height: 15%;
  width: 10%;
  border: 2px solid #f39422;
  margin-top: 2%;
  margin-left: 2%;
  padding: 0.5%;
}
.cont header h1 {
  color: Darkblue;
  font-family: 'Bahianita', cursive;
  font-size: 3rem;
  margin: 2%;
}
.cont header Nav {
  Display: flex;
  justify-content: space-between;
  padding: 2%;
}
.cont header Nav a {
  color: #f39422;
  border: 1px solid #f39422;
  padding: 6px;
  border-radius: 25%;
}
@media (max-device-width: 500px) {
  .cont header Nav a {
    padding: 1px;
  }
}
.cont .s1 {
  Display: flex;
  width: 75%;
  margin: 2%;
  background: #293a80;
  Border: 2px solid #537ec5;
  padding: 2%;
  text-align: center;
}
.cont .s1 div {
  width: 40%;
  margin-left: 10%;
}
.cont .s1 div h2 {
  color: Darkblue;
  font-family: 'Bahianita', cursive;
  font-size: 3rem;
}
.cont .s1 div p {
  padding: 1%;
  box-sizing: border-box;
}
@media (max-device-width: 500px) {
  .cont .s1 div p {
    width: 50%;
  }
}
.cont .work {
  width: 75%;
  margin: 2%;
  background: #293a80;
  Border: 2px solid #537ec5;
}
.cont .work h2 {
  color: Darkblue;
  font-family: 'Bahianita', cursive;
  font-size: 3rem;
}
.cont .work Table {
  margin: 1%;
  margin-left: 5%;
  width: 90%;
  border: 1px solid #537ec5;
}
.cont .work Table tr {
  padding-top: 5%;
}
.cont .work Table Th {
  border-bottom: 1px solid #537ec5;
  border-left: 1px dashed #537ec5;
}
.cont .work Table td {
  border-bottom: 1px solid #537ec5;
  border-left: 1px dashed #537ec5;
}
.cont .s2 {
  background: #293a80;
  Border: 2px solid #537ec5;
  width: 75%;
  margin: 2%;
}
